#productlist {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  padding: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.productCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.productCard:hover {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.title {
  font-size: 10px;
  text-align: center;
  color: gray;
}

.priceclass{
  display: flex;
  justify-content: flex-start;
  gap: 7px;
  align-items: center;
}

.old_price{
   text-decoration: line-through;
   font-size: 8px;
   color: grey;
}

.price{
    font-weight: bold;
    font-size: 8px;
}

.discount{
    font-size: 5px;
    border: 1px solid rgb(222, 218, 218);
    padding: 2px;
    color: grey;
}

.sidebar{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 10px;
}