.Footer-links {
    padding: 30px 0px;
    background-color: #f7f7f7; ;
  }
  .Footer-links-container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
    text-align:justify ;
  }
  
  