.Login_top{
    background-color: #e40046;
        
    .first_child {
        display: flex;
        gap: 15px;
        padding-top: 20px;
        padding-left: 15px;
        text-align: center;
        align-items: center;
        h3{
            font-size: 24px;
            font-weight: 500;
            color: #fff;
        }
        img{
            // margin-top: 10px;
            border-radius: 50%;
            width: 3rem;
            height: 3rem;

        }
    }

    .second_child {
        display: flex;
        justify-content: space-between;
        padding-left: 15px;
        padding-right: 15px;
        // border: 1px solid black;
        align-items: center;
        h3 {
            font-size: 16px;
            color: #fff;
        }
        p{
            color: rgb(203, 199, 199);
        }
    }
}

.error {
    color: red;
    padding: 5px;
    margin: 10px;
    font-weight: bold;
  }

.container{
    width: 400px;
    height: 450px;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
    margin-bottom: 60px;
    padding: 0 25px 0 25px;
    // margin-bottom: 40px;
  

    border-radius: 5px;
    gap: 10px;
    border: 1px solid rgb(198, 195, 195);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    h1{
        font-size: 24px;
        font-weight: 500;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .btn 
    {
        background-color: #e40046;
        color: #fff;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .btn:hover{
        background-color: #f02763;
    }
    .register_now:hover{
        color: #e40046;
    }


}